@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Otros pedidos";
    ViewData["Selected"] = "Pedidos";
}

<div class="text-center mt-5">
    <h1 class="mb-4">📦 Historial de pedidos</h1>
    <p class="lead">Aquí vas a poder consultar tus pedidos anteriores y volver a pedir una pizza igual.</p>
</div>
