@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Inicio";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="text-center mt-5">
    <h1 class="mb-4">¡Bienvenido a PizzaExpress!</h1>
    <p class="lead">Armá tu pizza personalizada eligiendo la masa e ingredientes.</p>

    <a asp-controller="Pizza" asp-action="Index" class="btn btn-lg btn-warning">
        🍕 Empezar a armar mi pizza
    </a>
</div>
