@{
    ViewData["Title"] = "Privacidad";
}

<h1>Política de Privacidad</h1>

<p>PizzaExpress no almacena datos personales ni comparte información con terceros.</p>
<p>Esta aplicación fue creada con fines educativos y no recopila información sensible del usuario.</p>
