@{
    ViewData["Title"] = "Armar Pizza";
    ViewData["Selected"] = "Pizza";
}

<div class="text-center mt-5">
    <h1>Bienvenido al armador de pizzas 🍕</h1>
    <p>Acá vas a poder elegir masa, ingredientes y ver el precio.</p>
</div>
