@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Usuario";
    ViewData["Selected"] = "Usuario";
}

<div class="text-center mt-5">
    <h1 class="mb-4">👤 Panel de usuario</h1>
    <p class="lead">En esta sección vas a poder registrarte, iniciar sesión y gestionar tu cuenta.</p>
</div>
